<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- {{ ansible_managed }} -->
<foreign-source name="{{ onms_requisition }}" date-stamp="2023-07-07T08:11:30.522-04:00">
  <scan-interval>1d</scan-interval>
  <detectors/>
  <policies/>
</foreign-source>
