<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- {{ ansible_managed }} -->
<foreign-source name="{{ onms_requisition }}" date-stamp="2023-07-07T08:11:30.522-04:00">
  <scan-interval>1d</scan-interval>
  <detectors/>
  <policies>
    {% for (policies, policy) in onms_policies.items() %}
    <policy name="{{ policies }}" class="{{ policy.class }}">
        {%- for (key, value) in policy.parameters.items() %}
        <parameter key="{{ key }}" value="{{ value }}"/>
        {%- endfor %}
    </policy>
    {% endfor %}
  </policies>
</foreign-source>
