<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- {{ ansible_managed }} -->
<model-import xmlns="http://xmlns.opennms.org/xsd/config/model-import" date-stamp="2023-07-07T07:38:36.485-04:00" foreign-source="{{ onms_requisition_name }}"/>
