<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Ansible managed -->
{% for service in ((onms_group_services) | combine(onms_host_services)) }
<monitored-service xmlns="http://xmlns.opennms.org/xsd/config/model-import" service-name="{{ service }}" >
  {% for k, v in service.value.items() %}
  <meta-data context="requisition" key="{{ k }}" value="{{ v }}"/>
  {% endfor %}
</monitored-service>
